<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>LANFLIX</title>
</head>

<body>
    <form action="/" method="get">
        <input type="text" name="src">
        <button type="submit">Go</button>
    </form>
    <pre>
        <%= JSON.stringify(series, null, 2) %>
    </pre>
</body>

</html>